.wrapper{
    width: 510px;
     
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 100px;
    background-color: #e8eeef;
    padding-bottom: 30px;
   
}

 .tone{
    padding-left: 150px;
    padding-bottom: 10px;
}


.required {
    color:#ac2925;
}
.ttwoo{
    margin-top: 50px;
    padding-left: 150px;
}
.ttwo{
    padding-left: 150px;
    
}
fform{
    border-style: solid;
    border-width: 5px;
    
}
#hed{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    
}
#btnbutton{
     padding-left: 200px;
     padding-top: 20px;
}