.div {
    border: 2px solid;
    border-radius: 5px;
 
    display:inline;
    padding:5px;
    background-color: #17a2b8;
    color: #fff;
    font-family: Verdana, sans-serif, Arial;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    
}

.body {
  text-align: center;
  width: 150px;
}
