.colright{
    background-color: #f4f7f8;;
    height: 100%;
    width: 200px;
    position: fixed;
    padding-right: 0px;
    padding-left: 15px;
    right: 0;
    
    
}
.colright label{
    color: #000;
    padding-top: 20px;
}
.turn{
    
}
.turn h5{
    color :#000;
}