
@media(max-width:960px) {
    .header img {
        
        width: 100%;
        height: 80px;
      
        padding-top: 0px;
        padding-bottom: 15px;
        
    }
  }
  .banner{
      padding:0px;
  }
  #main{
      color:#fff;
     
  }
.playbar {
    
    padding: 20px 0 90px;
    text-align: center;
}
.playbar h5{
    font-size: 17px;
    color:#6699cc;
}
.playbar h1{
    font-size: 25px;
    color: #cccccc
}


.playbar i {
    padding: 25px 20px;
    height: 80px;
    width: 80px;
    font-size: 30px;
    background-color: #6699cc;
    color: #fff;
    border-radius: 50%;
    
}


