.form-style-1{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px "Arial", "Helvetica", sans-serif;
}
.form-style-1-li{
      margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 label{
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style-1 span.required{
    color:red;
}
.form-style-1 input.input-field, .form-style-2 .select-field{
    width: 48%; 
}
.form-style-1 input.input-field, 
.form-style-1 .tel-number-field, 
.form-style-1 .textarea-field, 
 .form-style-1 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-1 .input-field:focus, 
.form-style-1 .tel-number-field:focus, 
.form-style-1 .textarea-field:focus,  
.form-style-1 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-1 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-1 input[type=submit],
.form-style-1 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}
