.brockermiddle h1{
    text-align: center;
    margin-bottom: 10px;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.table{
    width: 700px;
}
.wrapper{
    background-color: #e8eeef;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
}
#plist{
    padding-left: 300px;
}