<!--modalstyles-->
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
  line-height:1.6;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color:#fff;
  margin: 20% auto;
  width:35%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.50);
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-header h2, .modal-footer h3{
  margin:0;
}

.modal-header{
  background:#0077b3;
  //height: 15px;
  padding:10px;
  text-align: center;
  color:#fff;
}

.modal-body{
  padding:20px 20px;
}

.closeBtn{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}

.closebtn{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.closebtn:hover,.closebtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

.Closebtn{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.Closebtn:hover,.Closebtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

.CloseBTN{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.CloseBTN:hover,.CloseBTN:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}


.ClosebTN{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.ClosebTN:hover,.ClosebTN:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

.ClosebtN{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.ClosebtN:hover,.ClosebtN:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

.ClosEbtN{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.ClosEbtN:hover,.ClosEbtN:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}