
.canvas-format{
    padding-top: 30px;
    border-bottom: 3px;
}
#middlef{
   background-color: #e8eeef;
   height: 100%;
}
#canvasheading{
    padding-top: 30px;
    text-align: center;
}
#canvasheading h2{
     font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#middleform{
    padding-left: 60px;
}
.headermiddle h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-left: 15px;
}
#canvasheadingone{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-left: 15px;
    text-align: center;
}