body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #180013;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
     padding-left: 50px;
     margin-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
   
 
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.user-data{padding:20px;
margin-bottom: 10px;
width:100%
}
.username{
    text-align: center;
    font-size: 20px;
   padding-top: 10px;
    display: block;
  
    color:#66afe9;
     text-decoration: none;
    font-size: 25px;
    display: block;
    padding-bottom: 25px;
    left:0;
}
.user-dp{
    width:120px;
        height:120px;
        border-color: #fff;
        border-radius: 50%;
        display: block;
        margin-left: 10px;
        padding-right: 0px;
}

   
   