.selector{
    padding-top: 20px;
    padding-bottom: 40px;
}
.statustable{
    padding-top: 20px;
    width:500px;
}
#statusname{
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.canvas-format{
  
}
.wrapper{
    width:100%;
 
}
#table{
    display: none;
    width:100%;
}