.up {
    box-sizing: border-box;
}

.column {
    float: left;
   
    margin-left: 2px;
    height: 488px; 
    width: 750px;
    padding: 10px 20px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    font-family: calibri, "Times New Roman", Times, serif;
}

.left, .right {
    width: 20%;
}

.middle {
    width: 60%;
     
}


.row:after {
    content: "";
    display: table;
    clear: both;
}



.form-style-5{
    max-width: 800px;
    padding: 5px 5px;
    background: #f4f7f8;
    margin: 5px auto;
    padding: 5px;
    border-radius: 2px;
    font-family: calibri, "Times New Roman", Times, serif;
}

.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 1px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 3px;
}
.form-style-5 input[type="text"],
.form-style-5 select {
    font-family: calibri, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
   
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 1px;

}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1abc9c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: calibri, "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 5px;
    float: right;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}